<!-- extend base layout -->
{% extends "base.html" %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/flform.js') }}"></script>
{% endblock %}

{% block content %}
<div class="entete">
  <table class="titre"><tr>
    <td><img src="{{ url_for('static', filename=logofilename) }}" /></td>
    <td><h1>{{ gettext('Inscription à ') }} : {{ evenement.titre }}</h1></td>
  </tr></table>
  {% if evenement.sstitre %}<h3 class="sstitre">{{ evenement.sstitre }}</h3>{% endif %}
    <h3 class="date">{% if evenement.date_fin and evenement.date_fin != evenement.date %}{{ evenement.date | datedebut(evenement.date_fin, "d MMMM YYYY") }} au {{ evenement.date_fin | localedate("d MMMM YYYY") }}{% else %}{{ evenement.date | localedate("d MMMM YYYY") }}{% endif %}</h3>
  <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}{{ salle_par_defaut }}<br/>{{ nom_institution }}{% endif %}</p>
  <br/>
  {% if evenement.resume %}<p class="resume">{{ evenement.resume }}</p>{% endif %}

  {% if qrstring %}<p><img src="{{ qrcode(qrstring) }}" /></p>{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
      {% for message in messages %}
      <p><strong>{{ message }} </strong></p>
      {% endfor %}
      {% endif %}
{% endwith %}

<p>{{ msg }}</p>
<p><a href="{{ url_for('index') }}">{{ gettext('Retour') }}</a></p>
{% endblock %}
