<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1>{{ evenement.titre }}</h1>

<hr/>

<table id="onglets"><tr>
  <td><a href="{{ url_for('suivi', evt=evenement.id) }}">{{ gettext('voir les inscrits') }}</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='csv') }}" download>{{ gettext('voir les inscrits (feuille de tableur)') }}</a></td>
  {% if not current_user.is_admin %}<td><a href="{{url_for('suivi', evt=evenement.id, action='listepdf') }}" download>{{ gettext('liste à imprimer') }}</a></td>{% endif %}
  {% if current_user.is_admin %}<td><a href="{{url_for('suivi', evt=evenement.id, action='emargement') }}" download>{{ gettext('feuille d\'émargement') }}</a></td>
  <td><a href="{{url_for('suivi', evt=evenement.id, action='mails') }}">{{ gettext('envoi groupé') }}</a></td>
  {% if avec_etiquettes %}<td><a href="{{url_for('suivi', evt=evenement.id, action='badges') }}" download>{{ gettext('étiquettes à imprimer') }}</a></td>{% endif %}{% endif %}
</tr></table>

<table><caption>{{ gettext('Liste des inscrits') }}</caption>
<tr>
  <th>{{ gettext('Nom') }}</th>
  <th>{{ gettext('Prénom') }}</th>
  <th>{{ gettext('Email') }}</th>
  <th>{{ gettext('Téléphone') }}</th>
  <th>{{ gettext('Attestation') }}</th>
  {% if repas_1_existant %}<th>{{ texte_repas_1 }}</th>{% endif %}
  {% if repas_2_existant %}<th>{{ texte_repas_2 }}</th>{% endif %}
</tr>
{% for inscrit in inscrits %}
<tr>
  <td>{{ inscrit.personne.nom }}</td>
  <td>{{ inscrit.personne.prenom }}</td>
  <td>{{ inscrit.personne.email }}</td>
  <td>{% if inscrit.personne.telephone %}{{ inscrit.personne.telephone }}{% endif %}</td>
  <td>{{ inscrit.attestation_demandee | ouinon("-") }}</td>
  {% if repas_1_existant %}<td>{{ inscrit.inscription_repas_1 | ouinon("-") }}</td>{% endif %}
  {% if repas_2_existant %}<td>{{ inscrit.inscription_repas_2 | ouinon("-") }}</td>{% endif %}
</tr>
{% endfor %}
</table>

<hr/>

{% if today < evenement.date or today < evenement.datefin %}<p><form name="im"><label>{{ gettext('Inscriptions en masse') }}</label><input type="file" /></form></p>{% endif %}

<!-- section ng-controller="suiviCtrl"><a name="modifs" />
  <h3>Modifications</h3>
  <p>Date de clôture <input type="date" name="date_cloture_inscriptions" /> <input type="button" value="Modifier" /></p>

</section -->

<div class="footnotes">
<p>Contact pour l'inscription&nbsp;: {{ email_orga }}</p>
<p>Contact pour ce site&nbsp;: {{ email_site }}</p>
</div>

{% endblock %}
