<!-- extend base layout -->
{% extends "base.html" %}

{% block CSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/angular-pickadate.css') }}" />
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular-pickadate.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/soco.js') }}"></script>
{% endblock %}

{% block content %}

<section ng-controller="suiviCtrl">
<p>[[ auj | date : 'medium' ]]</p>

<h1>{{ gettext('Liste des formulaires') }}</h1>

<hr/>
<ul class="index_events">
  {% for e in evenements %}
  <li><a href="{{ url_for('suivi', evt=e.id) }}">{{ e.titre }} &mdash; {{ e.date | localedate }}</a> &mdash; {{ nb_inscrits[e.id] }} inscription{% if nb_inscrits[e.id] > 1 %}s{% endif %}
  {% if e.formulaire %}<ul>{% for f in e.formulaire %}
  <li>{{ gettext('Formulaire') }} {% if loop.length > 1 %}#{{ f.id }}{% endif %}
  {% if today < f.date_ouverture_inscriptions %} {{ gettext('ouvert du') }} {{ f.date_ouverture_inscriptions | localedate }} {{ gettext('au') }} {{ f.date_cloture_inscriptions | localedate }} <a href=""><em>{{ gettext('modifier ce formulaire') }}</em></a>
  {% elif today <= f.date_cloture_inscriptions %} <strong>{{ gettext('ouvert') }}</strong> {{ gettext('jusqu\'au') }} <span ng-show="evenements.maj_date_cloture_{{f.id}}">[[ evenements.maj_date_cloture_{{f.id}} ]]</span><span ng-hide="evenements.maj_date_cloture_{{f.id}}">{{ f.date_cloture_inscriptions | localedate }}</span> <input ng-show="!date_modif_{{f.id}}" type="button" ng-click="showmodifdatecloture({{f.id}})" value="{{ gettext('modifier la date de clôture') }}" /> <span ng-show="date_modif_{{f.id}}"><input type="text" size="10" name="date_cloture_inscriptions_{{f.id}}" ng-model="evenements.date_cloture_inscriptions_{{f.id}}" pickadate format="dd/mm/yyyy" week-starts-on="1" default-date="default_date_{{f.id}}" ng-init="definedefaultdate({{f.id}},'{{f.date_cloture_inscriptions}}')" /><input type="button" value="{{ gettext('Modifier') }}" ng-click="modifdatecloture({{f.id}})" /></span>
  {% else %}<strong>{{ gettext('inscriptions terminées') }}</strong> <input ng-show="!date_modif_{{f.id}}" type="button" ng-click="showmodifdatecloture({{f.id}})" value="{{ gettext('prolonger') }}" />
  {% endif %}
  {% if today < e.date or today < e.datefin %} <input ng-show="!invit_interv_{{e.id}}" type="button" ng-click="showinvitintervenant({{e.id}})" value="{{ gettext('inviter un intervenant') }}" /> <span ng-show="invit_interv_{{e.id}}"><br/><label>{{ gettext("Nom de l'interv.") }}<span class="mandatory">*</span> </label> <input type="text" size="20" name="nom_intervenant_{{e.id}}" ng-model="evenements.nom_intervenant_{{e.id}}" /> <label>{{ gettext('Prénom') }}</label><input type="text" size="20" name="prenom_intervenant_{{e.id}}" ng-model="evenements.prenom_intervenant_{{e.id}}" /><br/><label>{{ gettext('Email') }}<span class="mandatory">*</span> </label><input type="text" size="40" name="email_intervenant_{{e.id}}" ng-model="evenements.email_intervenant_{{e.id}}" /><br/><label>{{ gettext("Message d'invitation") }}</label> <textarea name="msg_intervenant_{{e.id}}" ng-model="evenements.msg_intervenant_{{e.id}}" cols="40" rows="4"></textarea> <input type="button" value="{{ gettext('Inviter') }}" ng-click="invitintervenant({{e.id}})" /></span>
  {% endif %}</li>
  {% endfor %}</ul>{% endif %}
  <table><tr><td><a href="{{ url_for('suivi', evt=e.id) }}">{{ gettext('voir les inscrits') }}</td><td><a href="{{url_for('suivi', evt=e.id, action='listepdf') }}" download>{{ gettext('liste à imprimer') }}</a></td></tr></table>
  </li>
{% endfor %}
</ul>

</section>

<p>{{ gettext('Pour créer une nouvelle page d\'inscription') }} &nbsp;: <a href="/suivi/new"><em>{{ gettext('Créer un formulaire d\'inscription') }}</em></a></p>


<div class="footnotes">
<p>{{ gettext('Contact pour l\'inscription&nbsp;:') }} {{ email_orga }}</p>
<p>{{ gettext('Contact pour ce site&nbsp;:') }} {{ email_site }}</p>
</div>

{% endblock %}
