<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="entete">
  <table class="titre"><tr>
    <td><img src="{{ url_for('static', filename=logofilename) }}" /></td>
    <td><h1>{{ gettext('Vérification d\'une inscription') }}</h1></td>
  </tr></table>

  {% if ok %}
  <h3 class="date">{% if evenement.date_fin %}
  {{ evenement.date | datedebutcompl(evenement.date_fin) }} {{ evenement.date_fin | localedate("d MMMM YYYY")}}
  {% else %}{{ evenement.date | localedate("d MMMM YYYY") }}{% endif %}</h3>
  <p class="lieu">{% if evenement.lieu %}{{ evenement.lieu }}{% else %}{{ salle_par_defaut }}<br/>{{ nom_institution }}{% endif %}</p>
  <br/>

  <p class="good">
    <span class="smilie">:-)</span>
    <br/>{{ gettext('La personne') }} <strong>{{ personne.prenom }} {{ personne.nom }}</strong> est bien sur la liste</p>
  {% else %}<p class="bad"><span class="smilie">:-(</span>
    <br/>{{ gettext('Aucune inscription ne correspond.') }}</p>
  {% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
      {% for message in messages %}
      <p><strong>{{ message }} </strong></p>
      {% endfor %}
      {% endif %}
{% endwith %}

<p>{{ msg }}</p>
<p><a href="{{ url_for('index') }}">{{ gettext('Retour') }}</a></p>
{% endblock %}
